body {
  margin: 0%;
  margin-bottom: 0%;
  background-color: #47B5FF;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{

  font-family: 'Dancing Script', cursive;}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #47B5FF;
  position: relative;
  padding-top: 11.6%;
  padding-bottom: 0;
}



.img{
  border-radius: 200px;
  width: 200px;
  height: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 26%;
  bottom: 50%;
}

.top-cloud{
  position: absolute;
  right: 25%;
  top: 22%;
}

.pro{
  text-decoration: underline;
}
